modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 37265
externalPort = 3000

[[ports]]
localPort = 44501
externalPort = 3001
